{% extends "frontend/base.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{url_for('.static', filename='learn_flask/highlight/highlight.pack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='learn_flask/highlight/styles/solarized_dark.css') }}">
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
        $(document).ready(function() {
            if (document.location.search.indexOf('notes') == -1) {
                $(".note").hide();
            }
        })
    </script>
{% endblock %}
{% block navbar %}
    {{ super() }}
    <style type="text/css">
    .jumbotron ul, .jumbotron ol {
        font-size: 1.5em;
        padding-left: 2.5em;
    }
    </style>

{% endblock %}

