{% extends "learn_flask/base.html" %}

{% block content %}
<div class="jumbotron">
	<h2>What is Flask?</h2>
	<p>
		<ul>
			<li>Flask is a web application framework, wrapping the Jinja 2 templating engine and the Werkzueg toolkit for WSGI interfaces.</li>
			<li>Flask came out of an April Fool's joke but proved popular enough to make into a serious application in its own right</li>
			<li>Although Flask has grown in popularity over the past 2 years, it is still very immature, and has not had a major release yet.</li>
		</ul>
	</p>
	<p>
		Flask makes heavy use of Python language features, such as decorators. This makes implementing a Flask WebApp really quick and simple to do. 
	</p>
</div>
{% endblock %}